<template>
  <q-page class="flex flex-center">
    <q-calendar-month
      mini-mode
      v-model="selectedDate"
    />
  </q-page>
</template>

<script lang='ts'>
import { defineComponent, ref } from 'vue'
import { today, getDayIdentifier, parseTimestamp } from '@quasar/quasar-ui-qcalendar'

export default defineComponent({
  name: 'PageIndex',
  setup (/*props*/) {
    const selectedDate = ref(today())
    const identifier = getDayIdentifier(parseTimestamp(today()))

    console.log('identifier', identifier)

    return {
      selectedDate
    }
  }
})
</script>
